<div>
<h2 class="titu1">Biblioteca</h2>
<h2 class="titu2">Juvenil</h2>
</div>
<div class="loginbox">
  <form>
    
    <p class="p">Correo
    <input type="text"  id="nombre" name="nombre" placeholder="Ingrese el Correo" required >
      <span class="glyphicon">&#x2709;</span>
    
    <p class="letterp">Contraseña</p>
    <input type="{{hidePassword?'password':'text'}}" id="clave" name="clave" placeholder="Ingrese la Contraseña" required>
    <button class="bi bi-key-fill " ></button>
    <button class="btn btn-warning">Ingresar</button>
  </form>
    <img class="logo" src="/assets/img/logovf.png" alt="">
</div>
